{# FORMULARIO DE COMENTARIO DE ARTICULO #}
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            {% for comentario in comentarios %}
            <li class="list-group-item">
                <span class="badge">{{comentario.TiempoUnix|date('d/m/Y')}} {{comentario.nombre}}</span>
                {{comentario.Comentario}}
            </li>
            {% else %}
            <span>{{macro.idioma('seElPrimeroEnComentar')}}</span>
            {% endfor %}
        </ul>        
    </div>
</div>
        
<div class="row">
    <form class="form-horizontal" name="formComentario" id="formComentario" method="post" action="">

        <input type="hidden" name="controller" value="{{values.controller}}"/>
        <input type="hidden" name="action" value="Comentario"/>
        <input type="hidden" name="datos[Entidad]" value="Articulos"/>
        <input type="hidden" name="datos[IdEntidad]" value="{{idArticulo}}"/>


            <div class="col-md-5">
                <div class="form-group">
                    <label for="nombre">{{macro.idioma('nombre')}}*</label>
                    <input type="text" name="datos[Nombre]" id="nombre" class="form-control" value="" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="email">{{macro.idioma('email')}}*</label>
                    <input type="text" name="datos[Email]" id="email" class="form-control" value="" maxlength="60" />
                </div>
            </div>
                    <div class="col-md-1"></div>
            <div class="col-md-6">            
                <div class="form-group">
                    <label for="comentario">{{macro.idioma('comentario')}}*</label>            
                    <textarea name="datos[Comentario]" id="comentario" rows="4" cols="50" class="form-control"></textarea>
                </div> 
            </div>
            <a href="#" id="enviarComentario" class="btn-group vert-offset-top-10">Enviar</a>

    </form>
</div>
