{# Solas de la ficha de producto #}

{% if values.producto.Caracteristicas or values.detalleTecnico or values.conComentarios %}   
<div class="col-md-12">
    <ul id="tabProducto" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#caracteristicas" aria-controls="caracteristicas" role="tab" data-toggle="tab">{{macro.idioma('caracteristicas')}}</a>
        </li>
        {% if values.detalleTecnico %}
        <li role="presentation">
            <a href="#detallesTecnicos" aria-controls="detallesTecnicos" role="tab" data-toggle="tab">{{macro.idioma('detallesTecnicos')}}</a>
        </li>
        {% endif %}
        {% if values.conComentarios %}
        <li role="presentation">
            <a href="#comentarios" aria-controls="comentarios" role="tab" data-toggle="tab">{{macro.idioma('comentarios')}} {%if values.comentarios|length>0%}({{values.comentarios|length}}){%endif%}</a>
        </li>
        {% endif %}
    </ul>

    <div class="tab-content">    
        <div role="tabpanel" class="tab-pane vert-offset-top-10" id="caracteristicas">
            {%autoescape false%}{{values.producto.Caracteristicas}}{%endautoescape%}
        </div>
        {% if values.detalleTecnico %}
        <div role="tabpanel" class="tab-pane vert-offset-top-10" id="detallesTecnicos">
            <ul>
                {% for detalle in values.detalleTecnico %}
                <li>
                    {{detalle.titulo}}:
                    <span>{{detalle.valor}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if values.conComentarios %}    
        <div role="tabpanel" class="tab-pane vert-offset-top-10" id="comentarios">
            {% include values.controller ~ '/formularioComentario.html.twig' with {'idArticulo':values.producto.IDArticulo, 'comentarios': values.comentarios}%}
        </div>
        {% endif %}        
    </div>
</div>
    
{% endif %}
