{% extends layout %}

{% set imagen = values.producto.getPathNameImagenN(2)%}
{% block content %}
    <div class="portada">
                    <div id="primary_block" class="clearfix" itemscope itemtype="http://schema.org/Product">
                        <h1 itemprop="name">{{values.producto.Descripcion}}</h1>
                        <div id="pb-right-column">
                            <span id="view_full_size" class="view_full_size">[+] ZOOM</span>
                            <div id="image-block">
                                <img src="{{app.path}}/{{theme}}/{{imagen}}" title="{{values.producto.Descripcion}}" alt="{{values.producto.Descripcion}}" id="bigpic" width="340" height="340" itemprop="image"/>
                                <div class="icons">
                                    <span class="novedad"> </span> </div>
                            </div>
                            <div id="views_block">
                                <div id="thumbs_list">
                                    <ul id="thumbs_list_frame">
                                        <li id="thumbnail_1651">
                                            <a href="http://www.conasi.eu/1651-thickbox/deshidratador-sedona.jpg" rel="other-views" class="thickbox shown" title="Deshidratador Sedona Combo">
                                                <img id="thumb_1651" src="http://www.conasi.eu/1651-medium/deshidratador-sedona.jpg" alt="Deshidratador Sedona Combo" height="50" width="50"/>
                                            </a>
                                        </li>
                                        <li id="thumbnail_1652">
                                            <a href="http://www.conasi.eu/1652-thickbox/deshidratador-sedona.jpg" rel="other-views" class="thickbox " title="Deshidratador Sedona Combo">
                                                <img id="thumb_1652" src="http://www.conasi.eu/1652-medium/deshidratador-sedona.jpg" alt="Deshidratador Sedona Combo" height="50" width="50"/>
                                            </a>
                                        </li>
                                        <li id="thumbnail_1653">
                                            <a href="http://www.conasi.eu/1653-thickbox/deshidratador-sedona.jpg" rel="other-views" class="thickbox " title="Deshidratador Sedona Combo">
                                                <img id="thumb_1653" src="http://www.conasi.eu/1653-medium/deshidratador-sedona.jpg" alt="Deshidratador Sedona Combo" height="50" width="50"/>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <p class="align_center">
                                    <span id="wrapResetImages" style="display: none;"> 
                                        <a id="resetImages" href="http://www.conasi.eu/deshidratadores/750-deshidratador-sedona.html" 
                                              onclick="$('span#wrapResetImages').hide('slow');return (false);">Mostrar todas las im&aacute;genes
                                        </a>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div id="pb-left-column">
                            <form id="buy_block" action="http://www.conasi.eu/carro-de-la-compra" method="post">
                                <div id="global_price">
                                    <ul>
                                        <li>
                                            <p class="price">
                                                <span class="novedad">&iexcl;Novedad!</span>
                                            </p>
                                            <p class="our_order_price">
                                                <span class="our_price_display" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                    <span id="our_price_display" itemprop="price">{{ macro.moneda(values.producto.PrecioWeb) }}</span>
                                                    IVA inclu&iacute;do </span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                                <p class="hidden">
                                    <input type="hidden" name="token" value="5d9d2269ba4a51e10dc42eb9065431e5"/>
                                    <input type="hidden" name="id_product" value="750" id="product_page_product_id"/>
                                    <input type="hidden" name="add" value="1"/>
                                    <input type="hidden" name="id_product_attribute" id="idCombination" value=""/>
                                </p>
                                <div id="add_it">
                                    <p id="quantity_wanted_p">
                                        <label>Cantidad:</label>
                                        <input type="text" name="qty" id="quantity_wanted" class="text" value="1" size="2" maxlength="3"/>
                                    </p>
                                    <p id="add_to_cart">
                                        <input type="submit" name="Submit" value="A&ntilde;adir a la cesta" class="add_to_cart"/>
                                    </p>
                                </div>
                                <p id="minimal_quantity_wanted_p" style="display: none;">Debes a&ntilde;adir al menos<b id="minimal_quantity_label">1</b>cantidad m&iacute;nima para comprar este producto</p>
                                <div class="clear"></div>
                                <p id="availability_statut" style="display: none;">
                                    <span id="availability_value">
                                    </span>
                                </p>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <p id="oosHook" style="display: none;">
                                </p>
                                <div class="clear"></div>
                                <p class="warning_inline" id="last_quantities" style="display: none;">Advertencia: &iexcl;&Uacute;ltimo art&iacute;culo en stock!</p>
                                <p class="buttons_bottom_block"><a href="#" id="wishlist_button" class="button" onclick="WishlistCart('wishlist_block_list', 'add', '750', $('#idCombination').val(), document.getElementById('quantity_wanted').value);
        return false;">Añadir a mi wishlist</a></p>
                            </form>
                            <div class="clear"></div>
                            <div id="short_description_block" itemprop="description">
                                <p>Deshidratador <strong>Sedona Combo SD-P9150</strong>: la deshidratación más avanzada.</p>
                                <p>Último modelo en deshidratadores. Sedona es el único con dos motores independientes.</p>
                            </div>
                            <div class="shr_class shareaholic-show-on-load">
                            </div>
                            <script type="text/javascript">var SHRSB_Settings = {"shr_class": {"src": "/themes/matrice/css", "link": "", "service": "5,7,309,304,313", "apikey": "0747414f47c2b684cf5480c36b2478689", "localize": true, "shortener": "bitly", "shortener_key": "", "designer_toolTips": true, "tip_bg_color": "black", "tip_text_color": "white", "twitter_template": "${title} - ${short_link} via @Shareaholic"}};
    var SHRSB_Globals = {"perfoption": "1"};</script>
                            <script type="text/javascript">(function() {
        var sb = document.createElement("script");
        sb.type = "text/javascript";
        sb.async = true;
        sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-sb.min.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(sb, s);
    })();</script>
                            <div class="clear"></div>
                        </div>
                        <div id="more_info_block">
                            <ul id="more_info_tabs" class="idTabs idTabsShort">
                                <li><a id="more_info_tab_more_info" href="#idTab1">Descripci&oacute;n</a></li> <li><a href="#idTab4">Accesorios</a></li> <li>
                                    <script type="text/javascript">//<![CDATA[
                                        $(document).ready(function() {
                                            var ph = '<div id="review_block">' + '<div class="rating"  style="float: left; margin: 10px 10px 0 0px;">0</div>' + '<div style="float: left; margin-top: 10px;font-size:12px;font-weight:bold; color:#2F5997"><span id="count_review_main">0</span> review</div>' + '<a href="http://www.conasi.eu/deshidratadores/750-deshidratador-sedona.html#idTab666-my" id="idTab666-my-click" class="greenBtnBig"><b>Opinar sobre el producto</b></a>' + '<div style="clear:both"></div>' + '</div>';
                                            $('#short_description_block').after(ph);
                                            $('#idTab666-my-click').click(function() {
                                                $.each($('#more_info_tabs li'), function(key, val) {
                                                    $(this).children().removeClass("selected");
                                                });
                                                $('#idTab666-my').addClass('selected');
                                                for (i = 0; i < $('#more_info_sheets').children().length; i++) {
                                                    $('#more_info_sheets').children(i).addClass("block_hidden_only_for_screen");
                                                }
                                                $('#idTab666').removeClass('block_hidden_only_for_screen');
                                                $('.button-bottom-add-review').hide(200);
                                                $('#add-review-form').show(200);
                                            });
                                        });
                                        function show_form_review(par) {
                                            if (par == 1) {
                                                $('.button-bottom-add-review').hide(200);
                                                $('#add-review-form').show(200);
                                            } else {
                                                $('.button-bottom-add-review').show(200);
                                                $('#add-review-form').hide(200);
                                            }
                                        }
                                    //]]></script>
                                    <a id="idTab666-my" href="#idTab666" class="idTabHrefShort">Opiniones <span id="count-review-tab">(0)</span></a>
                                </li>
                            </ul>
                            <div id="more_info_sheets" class="sheets">
                                <div id="idTab1" class="rte"><h2>Descripci&oacute;n de Deshidratador Sedona Combo</h2><p>Sedona Combo es la actualización del tradicional deshidratador <span><a title="Características del deshidratador Sedona" href="http://www.conasi.eu/blog/productos/deshidratadores/el-deshidratador-sedona/" target="_blank">Sedona</a>. Os explicamos las diferencias de Sedona respecto a los demás deshidratadores en el primer punto y las diferencias del nuevo Sedona Combo respecto a Sedona en el segundo punto:</span></p>
                                    <h3><strong><span style="color: #808000;">1- Características especiales de Sedona:</span></strong></h3>
                                    <ul>
                                        <li>Dos ventiladores: permite utilizarlo a carga completa (9 bandejas) o a media carga (4 bandejas), permitiendo la optimización del consumo energético.</li>
                                        <li>Selector digital de temperatura de 30º C a 68º C, para un cuidadoso ajuste de las temperaturas grado a grado.</li>
                                        <li>Temporizador, para detención automática, de hasta <strong>150 horas</strong>. </li>
                                        <li>Funcionamiento muy silencioso, puede ser más silencioso aún si selecciona modo nocturno (el ventilador o ventiladores funcionan más despacio).</li>
                                        <li>Puerta de cristal de seguridad, permite ver el interior.</li>
                                        <li>Gran capacidad: equipado con 9 bandejas y 9 rejillas (además de bandeja separadora de las dos cámaras de deshidratación). Cuando utilizamos la "media carga", al poner la bandeja en el centro dividimos el interior de Sedona en dos cámaras de 4 bandejas.</li>
                                        <li>Agradable estéticamente, en tu cocina tiene la apariencia de un pequeño horno.</li>
                                        <li>Materiales: <a title="Información sobre el pol¡propileno" href="http://www.conasi.eu/blog/consejos-de-salud/que-es-el-polipropileno-pp/">polipropileno</a>, libre de BPA.</li>
                                    </ul>
                                    <div><span style="line-height: 33.279998779296875px;"><img style="display: block; margin-left: auto; margin-right: auto;" title="Sedona Combo - nuevo deshidratador" src="http://www.conasi.eu/img/cms/200x96wlogotipo-sedona-combo.JPG.pagespeed.ic.5z6Z8eMs0C.webp" alt="Logotipo de Sedona Combo" width="200" height="96"/></span></div>
                                    <h3><strong><span style="line-height: 33.279998779296875px; color: #808000;">2- Características nuevas de Sedona Combo:</span></strong></h3>
                                    <p>Además de lo ya mencionado en el apartado anterior, Sedona Combo incluye:</p>
                                    <div>
                                        <ul>
                                            <li>3 programas de deshidratación: <strong>FAST</strong> (rápido), <strong>RAW</strong> (a baja temperatura) o Sistema TST: <strong>control secuencial de la temperatura</strong> <strong>en dos fasses</strong> ("Two-Stage Sequential Temperature"). Este nuevo programa de Sedona, permite deshidratar a una temperatura más elevada al principio y luego a bajar la temperatura. Viene predeterminado para deshidratar a 68º las dos primeras horas y después el deshidratador baja la tª a 42º automáticamente (estas temperaturas se pueden variar). ¿Cuándo lo utilizamos? Si se van a deshidratar alimentos con alto contenido en agua o bien en porciones grandes, deshidratar a 42º desde el principio alarga mucho el proceso y puede provocar fermentaciones. Si utilizamos una temperatura mayor al principio, favorecemos la evaporación inicialmente y facilitamos el proceso, obteniendo un resultado mejor. </li>
                                            <li><strong>Bandejas de una pieza:</strong> las bandejas de Sedona son de dos piezas: una base sobre la que se pone una rejilla.  Sedona Combo las tiene ambas integradas.</li>
                                            <li>Incorpora nueva bandeja para facilitar la <strong>limpieza</strong> interior: los que usamos Sedona sabemos que la base interior del deshidratador tiene salientes en los bordes que dificultan e incomodan la limpieza. Para evitarlo, Sedona Combo incorpora una bandeja extraíble que se adapta a la base y se saca fácilmente.  Esta bandeja no quita espacio de deshidratación (se coloca debajo de la bandeja inferior).</li>
                                            <li>Sedona Combo ya no necesita la función "dia-noche" de Sedona.  En este nuevo modelo Combo se ha optimizado el sistema de flujo del aire, mediante la distribución de <strong>salidas laterales</strong>. Ahora el aire se mueve de arriba abajo, de derecha a izquierda y de forma paralela. Esta optimización del sistema de convección del aire en el interior del aparato permite el funcionamiento en el modo en el modo más <strong>silencioso </strong>del tradicional Sedona.</li>
                                            <li><strong>Luz interior</strong>: luces LED.</li>
                                            <li><strong>Puerta más robusta</strong>. Con tirador y embellecedor de acero inoxidable que la hace más fuerte y mejora su estética.</li>
                                            <li><strong>Panel digital desmontable</strong>: si se precisa reparación, es más práctico transportar solamente el panel digital.</li>
                                        </ul>
                                        <h3><strong><span style="line-height: 33.279998779296875px; color: #808000;">Conasi te ofrece:</span></strong></h3>
                                        <ul>
                                            <li>Manual de instrucciones y recetas en castellano.</li>
                                            <li>Garantía y servicio técnico en España. </li>
                                            <li>Recetas y sugerencias de uso, según nuestra propia experiencia:</li>
                                        </ul>
                                        <ul>
                                            <ul>
                                                <li><a title="Ideas para deshidratar tomates" href="http://www.conasi.eu/blog/productos/deshidratadores/tomates-deshidratados/" target="_blank">Deshidratando tomates</a></li>
                                                <li><a title="Ver receta básica de los crackers" href="http://www.conasi.eu/blog/recetas/dieta-cruda/crackers/" target="_blank">Crackers</a>, receta básica y procedimiento detallado.</li>
                                                <li><a title="Ver receta de crudigalletas" href="http://www.conasi.eu/blog/recetas/crudigalletas/" target="_blank">Crudigalletas</a>.</li>
                                                <li><a title="Ver receta de los crackers de Eusebi" href="http://www.conasi.eu/blog/recetas/crackers-de-eusebi/" target="_blank">Crackers de Eusebi</a></li>
                                            </ul>
                                            <li>Recomendaciones: <a title="Nuestras recomendaciones para deshidratar" href="http://www.conasi.eu/blog/productos/deshidratadores/secretos-para-una-buena-deshidratacion/" target="_blank">los 7 secretos para una buena deshidratación.</a></li>
                                            <li>Amplia información acerca de las <a title="Deshidratar, la forma más antigua y sana de conservar los alimentos" href="http://www.conasi.eu/blog/productos/deshidratadores/deshidratacion-la-forma-mas-antigua-y-sana-de-conservar-los-alimentos/" target="_blank">ventajas de deshidratar.</a></li>
                                            <li>Y además, los consejos sobre deshidratación, de parte de los <a title="Consejos sobre deshidratación" href="http://www.conasi.eu/blog/consejos-de-salud/secando-y-deshidratando-frutas-y-vegetales-en-espana/" target="_blank">especialistas</a> Clodagh y Dick Handscombe. </li>
                                        </ul>
                                        <div> </div>
                                    </div>
                                    <p>Sedona es perfecto para el secado de frutas, verduras, setas, hierbas y para la elaboración de platos de comida cruda. Podemos afirmar que actualmente, se trata del mejor deshidratador del mercado.</p>
                                    <p>Sedona no incluye las láminas de deshidratación con las que hacemos las láminas de frutas: <a title="Ver lámina antiadherente" href="http://www.conasi.eu/deshidratadores/429-lamina-paraflex-para-deshidratador-excalibur.html" target="_blank">lámina antiadherente</a> (de polytetrafluoroetileno) y <a title="Ver lámina de silicona para Sedona" href="http://www.conasi.eu/deshidratadores/736-lamina-de-silicona-para-deshidratador-sedona.html" target="_blank">lámina de silicona</a>.</p>
                                    <p>Certificación CE y GS (normativa alemana respecto a normas de seguridad en aparatos eléctricos).</p></div>
                                <div id="extra_info_sheets" class="sheets">
                                </div>
                                <div id="idTab666">
                                    <div id="reviews-list">
                                        <p class="align_center">No hay comentarios por ahora</p>
                                    </div>
                                    <div id="reviews-paging"></div>
                                    <script type="text/javascript">var module_dir = '/modules/reviewsnippets/';</script>
                                    <script type="text/javascript" src="http://www.conasi.eu/modules/reviewsnippets/js/r_stars.js.pagespeed.jm.GEyRqSkaMv.js"></script>
                                    <script type="text/javascript">jQuery(document).ready(init_rating);</script>
                                    <div class="no-registered">
                                        Solo pueden hacer comentarios los usuarios registrados
                                        <a href="/my-account.php" style="font-size:12px">Acceder</a>
                                    </div>
                                </div>
                                <div id="idTab4">
                                    <div class="accessories_block">
                                        <ul>
                                            <li class="ajax_block_product first_item product_accessories_description">
                                                <a href="http://www.conasi.eu/deshidratadores/429-lamina-paraflex-para-deshidratador-excalibur.html" title=""><img src="http://www.conasi.eu/1047-large/lamina-paraflex-para-deshidratador-excalibur.jpg" alt=""/></a>
                                                <h4><a href="http://www.conasi.eu/deshidratadores/429-lamina-paraflex-para-deshidratador-excalibur.html" title="L&aacute;mina antiadherente para deshidratador Sedona">L&aacute;mina antiadherente para deshidratador Sedona</a></h4>
                                                <p class="shortdesc"> Lámina adicional antiadherente para las bandejas del deshidratador Sedona. </p>
                                                <p class="pprice">9,10 €</p>
                                            </li>
                                            <li class="ajax_block_product last_item product_accessories_description">
                                                <a href="http://www.conasi.eu/deshidratadores/736-lamina-de-silicona-para-deshidratador-sedona.html" title=""><img src="http://www.conasi.eu/1580-large/lamina-de-silicona-para-deshidratador-sedona.jpg" alt=""/></a>
                                                <h4><a href="http://www.conasi.eu/deshidratadores/736-lamina-de-silicona-para-deshidratador-sedona.html" title="Pack de 3 l&aacute;minas de silicona para deshidratador Sedona">Pack de 3 l&aacute;minas de silicona para deshidratador Sedona</a></h4>
                                                <p class="shortdesc"> Láminas de silicona para deshidratar.
                                                    Libres de BPA y PTFE. </p>
                                                <p class="pprice">12,75 €</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ficha_right">
                            {% if values.detalleTecnico %}
                            <h3>{{macro.idioma('fichaTecnica')}}</h3>
                            <table class="caracteristicas">
                                {% for detalle in values.detalleTecnico %}
                                <tr class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                    <th scope="row">{{detalle.titulo}}</th>
                                    <td>{{detalle.valor}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                            <div class="garantia">
                                <p>
                                    <a href="{{app.path}}/garantia" class="iframe"><strong>{{macro.idioma('garantiaTitulo')}}</strong> {{macro.idioma('garantiaTexto')}} </a>
                                </p>
                                <script type="text/javascript">$('a.iframe').fancybox();</script>
                            </div>
                        </div>
                        <div class="products_category">
                            <h3>{{macro.idioma('ademasTePuedeInteresar')}}</h3>
                            <ul>
                                <li>
                                    <a href="http://www.conasi.eu/deshidratadores/28-bandeja-de-metal-para-deshidratador-dorrex.html" title="Bandeja de metal para deshidratador Dorrex">
                                        <img src="http://www.conasi.eu/60-listadosbig/bandeja-de-metal-para-deshidratador-dorrex.jpg" alt="Bandeja de metal para deshidratador Dorrex"/>
                                    </a>
                                    <h4>
                                        <a href="http://www.conasi.eu/deshidratadores/28-bandeja-de-metal-para-deshidratador-dorrex.html" title="Bandeja de metal para deshidratador Dorrex">
                                            Bandeja de metal para deshidratador Dorrex
                                        </a>
                                    </h4>
                                    <p class="pprice">
                                        <span>23,50 €</span>
                                    </p>
                                </li>
                                <li>
                                    <a href="http://www.conasi.eu/deshidratadores/29-bandejas-de-pp-para-deshidratador-dorrex.html" title="Bandeja de PP para deshidratador Dorrex">
                                        <img src="http://www.conasi.eu/63-listadosbig/bandejas-de-pp-para-deshidratador-dorrex.jpg" alt="Bandeja de PP para deshidratador Dorrex"/>
                                    </a>
                                    <h4>
                                        <a href="http://www.conasi.eu/deshidratadores/29-bandejas-de-pp-para-deshidratador-dorrex.html" title="Bandeja de PP para deshidratador Dorrex">
                                            Bandeja de PP para deshidratador Dorrex
                                        </a>
                                    </h4>
                                    <p class="pprice">
                                        <span>11,90 €</span>
                                    </p>
                                </li>
                                <li>
                                    <a href="http://www.conasi.eu/deshidratadores/24-deshidratador-dorrex-metal-7610316805683.html" title="Deshidratador Dorrex Metal - con temporizador ">
                                        <img src="http://www.conasi.eu/52-listadosbig/deshidratador-dorrex-metal.jpg" alt="Deshidratador Dorrex Metal - con temporizador "/>
                                    </a>
                                    <h4>
                                        <a href="http://www.conasi.eu/deshidratadores/24-deshidratador-dorrex-metal-7610316805683.html" title="Deshidratador Dorrex Metal - con temporizador ">
                                            Deshidratador Dorrex Metal - con temporizador
                                        </a>
                                    </h4>
                                    <p class="pprice">
                                        <span>165,60 €</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
        
        
        
        
        
        
        
        
        
        
        <h1 class="tituloProducto">{{values.producto.Descripcion}}</h1>   
        {% include values.controller ~ '/productoInfo.html.twig' %}  

        {# include '_global/noticias.html.twig' #}
        {# include '_global/articulosRelacionados.html.twig' #}        
    </div>
{% endblock %}