{# CAROUSEL #}

 <div class="flex-container">
<div class="flexslider">

    <ul class="slides">
    {% for objeto in objetos %}
    <li>
        <a href="{{objeto.Href.url}}" title="{{objeto.__toString}}" target="_self">
        <img src="{{app.path}}/{{theme}}/{{objeto.getPathNameImagenN(nImagen)}}" alt="{{objeto.__toString}}" width="340" height="340"/>
        </a>
        <p class="flex-caption1">hola
            <h2><a href="{{objeto.Href.url}}" title="{{objeto.__toString()}}" target="_self">{{objeto.__toString()}}</a></h2>
            <p class="desc">{{objeto.__toString}}</p>
            <p class="boton"><a href="{{objeto.Href.url}}" title="{{objeto.__toString()}}" target="_self">{{macro.idioma('masInfo')}}</a></p>
        </p>
    </li>
    {% endfor %}                    
    </ul>

</div>
 </div>
 