{# MENU DE CABECERA #}
<div class="sf-contener">
    <ul class="sf-menu">
        <li><a href="/">{{macro.idioma('inicio')}}</a></li>
        <li><a href="{{app.path}}/quienes-somos">{{macro.idioma('quienesSomos')}}</a></li>        
        <li><a href="{{app.path}}/pedidos">{{macro.idioma('pedidos')}}</a></li>        
        <li><a href="{{app.path}}/garantia">{{macro.idioma('serviciosYGarantia')}}</a></li>        
        <li><a href="{{app.path}}/aviso-legal">{{macro.idioma('avisoLegal')}}</a></li>        
        {#
        {% for item in values.menuCabecera %}
            <li><a href="{{app.path}}{{item.url.url}}" {% if item.url.targetBlank %} target="_blank"{% endif %}>{{item.titulo}}</a></li>
        {% endfor %}
        #}
        {% include '_global/wgBuscador.html.twig' %}
    </ul>
</div>