{# BUSCADOR #}

<li class="sf-search noBack" style="float:right">
    <form name="buscador" id="buscador" action="" method="POST">
        <div id="input_oculto">
            <input name="controller" value="Listado"/>
            <input name="action" value="Index"/>
        </div>
        <input type="text" id="textoBusqueda" name="textoBusqueda" class="buscador" value="{{macro.idioma('palabraBusqueda')}}" 
               onfocus="javascript:if (this.value === '{{macro.idioma('palabraBusqueda')}}') this.value = '';" 
               onblur="javascript:if (this.value === '') this.value = '{{macro.idioma('palabraBusqueda')}}';"/>
        <input name="buscartop" id="buscartop" type="submit" value="{{macro.idioma('buscar')}}" 
               onclick="if (document.getElementById('textoBusqueda').value === '{{macro.idioma('palabraBusqueda')}}') return false;"/>
    </form>
</li>