{# CAJA CARRITO DE LA COMPRA #}
{# CAJA CARRITO #}

{#
<h3 id="verCarrito" class="formulario">
{%if values.carrito.totales.Unidades%}
    <a href="{{appPath}}/carrito">{{macro.idioma('verCarrito')}}</a>
{%else%}
    {{macro.idioma('carrito')}}
{%endif%}
</h3>
<div id="cajaCarrito" class="cajetin">
{%if values.carrito.totales.Unidades%}
    <ul>
        <li><span>{{macro.idioma('productos')}}</span><span id="carritoUnidades">{{values.carrito.totales.Unidades}}</span></li>
        <li><span>{{macro.idioma('importe')}}</span><span id="carritoImporte">{{macro.moneda(values.carrito.totales.Importe)}}</span></li>
    </ul>
{%else%}
    <span>{{macro.idioma('carroVacio')}}</span>
{%endif%}    
</div>
#}
<ul class="shopping_cart_top">
    <li>
        <a href="{{appPath}}/carrito" title="{{macro.idioma('hacerPedido')}}" rel="nofollow">
            <span class="ajax_cart_no_product ">{{macro.idioma('carroVacio')}}</span>
            <span class="ajax_cart_quantity"></span>
            <span class="ajax_cart_product hidden">
                {{macro.idioma('articulo')}} |
                <span class="ajax_cart_total"><strong></strong></span>
            </span>
            <span class="ajax_cart_product  hidden">
                {{macro.idioma('articulos')}} |
                <span class="ajax_cart_total"><strong></strong></span>
            </span>
        </a>
    </li>
</ul>