{# empty Twig template #}

{% extends layout %}

{% block cuerpo %}

<ul class="categoriesBox">
{% for item in values.categorias %}
        <li><a href="{{app.path}}{{item.Href.url}}">{{item.Familia}}</a></li>
{% endfor %}
</ul>

<ul class="marcasBox">
{% for item in values.marcas %}
        <li><a href="{{app.path}}{{item.Href.url}}">{{item.Titulo}}</a></li>
{% endfor %}
</ul>
{% endblock %}