{# empty Twig template #}

{% extends layout %}
{% block cuerpo %}

<ul>
{% for item in values.familias %}
        <li><a href="{{app.path}}/{{item.Href.url}}">{{item.Familia}}</a></li>
{% endfor %}
</ul>

<ul>
{% for item in values.articulos %}
        <li><a href="{{app.path}}/{{item.Href.url}}">{{item.Descripcion}}</a></li>
{% endfor %}
</ul>
{% endblock %}