{% extends layout %}


{% block cuerpo %}
<div id="sub-main" class="container_12">
    <div class="h-wrapper h1 grid_12">
	<h1>{{values.servicio.servicio.Titulo}}<span class="line"></span></h1>
    </div>       
    <div id="content">	
	<div id="portfoliosinglepage" class="ports">
	    {% if values.servicio.servicio.PathNameImagenN() %}
	    <div class="featured-thumbnail-wrapper image grid_12">
		<div class="featured-thumbnail">
		    <div class="image-wrap">
			<a class="image-wrapper" href="{{values.servicio.servicio.PathNameImagenN()}}" data-rel="prettyPhoto[gallery]" title="{{values.servicio.servicio.Titulo}}">
			    <img src="{{values.servicio.servicio.PathNameImagenN()}}" alt="{{values.servicio.servicio.Titulo}}" title="{{values.servicio.servicio.Titulo}}" /><span class="zoom-icon magnify"></span></a>
		    </div>
		</div>
	    </div>
	    {% endif %}
		
		<div id="port-content-wrapper">
		    {#<div id="port-details-wrapper" class="grid_3">
    			    {% if values.servicio.servicio.ShowPublishedAt == "Si" %}
			    <div class="date-wrapper">
				    <div class="post-icon"></div>
				    <span>6</span>
				    <span>Jul</span>
				    <span>2012</span>
			    </div>
			    {% endif %}
			    
			    <div id="port-details">
				<span><span class="sub-title">Skills:</span> HTML, CSS, PHP</span>
				<span><span class="sub-title">Client:</span> Envato</span>
				<span><span class="sub-title">Project:</span>
				<a href="http://www.themeforest.net">www.themeforest.net</a>
				</span>
				<span><span class="sub-title">Tags:</span>
				<a href="#" rel="tag">Web Design</a>
				</span>
			    </div>
		    </div>#}
			
			{#<div class="grid_25 blockquote">
			    <div class="quote2">{{values.servicio.servicio.Subtitulo}}</div>
			</div>#}
			
			<div class="content-portstyle grid_9">
				<div class="single-port">
				    <h2>{{values.servicio.servicio.Subtitulo}}</h2>
				</div>
				<div class="post-content port-content">
				    <p><strong class="dark-color">{{values.servicio.servicio.ResumenBreve}}</strong></p>
				    {% autoescape false%}{{values.servicio.servicio.Resumen}}{% endautoescape %}
				</div>
			</div>
		</div>
	</div>						

	{% include 'Servicios/otrosServicios.html.twig' %}    
	    
    </div>
</div>
{% endblock %}