{% extends layout %}

{% block content %}
    <div class="portada">
        <h2><span>{{macro.idioma('buscando')}} "{{values.textoBusqueda}}" ({{macros.idioma('hay')}} {{values.articulos.paginacion.totalItems}} {{macros.idioma('articulos')}})</span></h2>

        <section id="noticias">
            {% include '_global/listadoArticulosPaginados.html.twig' with {'articulos':values.articulos.articulos,'paginacion':values.articulos.paginacion,'linkBy':values.textoBusqueda} %}
        </section>        
    </div>
{% endblock %}
