<section id="login" class="contact-info">
    
    <!-- <h3>Inicia Sesión</h3> -->
    
    <form name="login" method="POST">
        <input name="controller" value="Index" type="hidden" />
        <input name="action" value="Login" type="hidden" />
            {% if values.errorUsuario %}
                {% set clase = "contenedor error" %}
                {% set mensaje = "No encontrado indica" %}
            {% else %}
                {% set clase = "contenedor" %}
                {% set mensaje = "Usuario" %}            
            {% endif %}
            <div class="{{clase}}" id="usuario">
                <label>{{mensaje}} <span>tu e-mail</span></label> <input type="email" name="email" value="{{values.email}}" {% if not values.errorPassword %}autofocus{% endif %} />
            </div>

            {% if values.errorPassword %}
                {% set clase = "contenedor error" %}
                {% set mensaje = "Contraseña erronea" %}
            {% else %}
                {% set clase = "contenedor" %}
                {% set mensaje = "Contraseña" %}            
            {% endif %}        
            <div class="{{clase}}">
                <label>{{mensaje}}</label> <input type="password" name="password" {% if values.errorPassword %}autofocus{% endif %}/>
            </div>

            <input type="image" src="{{app.path}}/images/enviar.png" alt="enviar" width="25" height="26" class="enviar" />
    </form>
    
    <a href="{{app.path}}/olvido" title="Olvidé mi contraseña" id="olvidoContrasena">Olvidé mi contraseña</a>

</section>