{% extends layout %}

{#
{% block header %}
    {% include values.controller ~ '/header.html.twig' %}
{% endblock %}
{% block head %}
    {% include values.controller ~ '/head.html.twig' %}
{% endblock %}
#}

{% block asideRight %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        
        <div class="row">
        <h3>{{macro.idioma('accesoPrivado')}}</h3>
        <p>{{macro.idioma('accesoPrivadoTexto')}}</p>
                                 
        <form name="formLoginCliente" id="formLoginCliente" method="POST" action="">
            <input type="hidden" name="controller" value="ZonaPrivada" />
            <input type="hidden" name="action" value="login" />
            <input type="hidden" name="return" value="{{values.return}}" />

            <article>
                <!-- <label>{{macro.idioma('eMail')}}</label> -->
                <input autocomplete="off" type="text" name="login[Email]" id="login_Email" value="{{values.login.Email}}" {%if values.login.error == '1'%}class="celdaError"{%else%}class="celda"{% endif %} placeholder="Usuario" />
            </article>

            <article>
                <!-- <label>{{macro.idioma('contrasena')}}</label> -->
                <input autocomplete="off" type="password" name="login[Password]" {%if values.login.error == '2'%}class="celdaError"{%else%}class="celda"{%endif%} placeholder="Contraseña" />
            </article>

            <article id="contenedorEnviar">
                <a href="{{app.path}}/olvido" class="olvido">{{macro.idioma('olvideMiContrasena')}}</a>
                <input type="submit" value="{{macro.idioma('enviar')}}" data-type="submit" onclick="$('#formLoginCliente').submit();" title="{{macro.idioma('enviar')}}" class="boton btn_azul right" />
            </article>
        </form>
        </div>
            
        <div class="row">
            <h3>{{macro.idioma('accesoPrivadoDistribuidor')}}</h3>
            <p>{{macro.idioma('accesoPrivadoDistribuidorTexto')}}</p>

            <form name="formLoginDistribuidor" id="formLoginDistribuidor" method="POST" action="">
                <input type="hidden" name="controller" value="ZonaPrivada" />
                <input type="hidden" name="action" value="loginDistribuidor" />
                <input type="hidden" name="return" value="{{values.return}}" />

                <article>
                    <!-- <label>{{macro.idioma('eMail')}}</label> -->
                    <input autocomplete="off" type="text" name="login[Email]" id="login_Email" value="{{values.login.Email}}" {%if values.login.error == '1'%}class="celdaError"{%else%}class="celda"{% endif %} placeholder="Usuario" />
                </article>

                <article>
                    <!-- <label>{{macro.idioma('contrasena')}}</label> -->
                    <input autocomplete="off" type="password" name="login[Password]" {% if values.login.error == '2'%}class="celdaError"{% else %}class="celda"{% endif %} placeholder="Contraseña" />
                </article>

                <article id="contenedorEnviar">
                    <input type="submit" value="{{macro.idioma('enviar')}}" data-type="submit" onclick="$('#formLoginDistribuidor').submit();" title="{{macro.idioma('enviar')}}" class="boton btn_azul right" />
                </article>
            </form>
        </div>
    </div>
                
    <div class="col-md-6">            
        <h3>{{macro.idioma('accesoNuevo')}}</h3>
        <p><a href="{{app.path}}/registro">{{macro.idioma('accesoNuevoTexto')}}</a></p>            
    </div>     
</div>
{% endblock %}

