{# FORMULARIO DE CONFIRMACION DE PEDIDO, EL ULTIMO PASO #}

{% extends layout %}

{% set pedido = values.pedido %}
    
{% block content %}
    <div class="portada">
    <li>Pedido {{pedido.IDPedido}}</li>
    <li>Fecha {{pedido.Fecha}}</li>
    <li>Cliente {{pedido.IDCliente}}</li>
    <li>{{pedido.IDZonaEnvio}}</li>
    <li>{{pedido.IDFP}}</li>
    <li>{{pedido.IDAgencia}}</li>
    <li>{{pedido.PlazoEntrega}}</li>

    {% if pedido.Descuento %}
    <li>Importe Bruto {{macro.moneda(pedido.Importe)}}</li>
    <li>Dcto Cupón {{macro.moneda(pedido.Descuento)}}</li>
    {% endif %}
    <li>Base Imponible {{macro.moneda(pedido.TotalBases)}}</li>
    <li>Iva {{macro.moneda(pedido.TotalIva)}}</li>    
    <li>{{macro.idioma("total")}} {{macro.moneda(pedido.Total)}}</li>   
    <li>{{macro.idioma("gastosEnvio")}} {{macro.moneda(pedido.GastosEnvio)}}</li>
    <li>{{macro.idioma("totalAPagar")}} {{macro.moneda(pedido.total + pedido.GastosEnvio)}}</li>
    
    <form name="formResumenPedido" id="formResumenPedido" method="POST" action="{%if (values.pasarela.url_tpv != '') %}{{values.pasarela.url_tpv}}{% endif %}">
        <div id="input-oculto">
            {%if (values.pasarela.url_tpv != '') %}
                {% for key,value in values.pasarela %}
                    {% if key != 'url_tpv' %}
                        <input name="{{key}}" value="{{value}}"/>
                    {% endif %}
                {% endfor %}
            {% else %}
                <input name="controller" value="Carrito" />
                <input name="action" id="action" value="Notificacion" />
            {% endif %}
        </div>
        
        <input type="submit" name="confirmarPedido" id="confirmarPedido" value="{{macro.idioma('confirmarPedido')}}"/>
        <a class="btn-condiciones" href="{{app.path}}/">{{macro.idioma("seguirComprando")}}</a>       
        <p id="mensajeConectando" class="oculto">{{macro.idioma('conectandoPasarela')}}</p>
    </form>
    </div>
<script>
$(function(){
    $('#confirmarPedido').click(function(){
        $(this).hide('slow');
        $('#mensajeConectando').removeClass('oculto');
        $('#formResumenPedido').submit();
    });
});
</script>
{% endblock %}
