{% extends layout %}

{#
{% block header %}
    {% include values.controller ~ '/header.html.twig' %}
{% endblock %}
{% block head %}
    {% include values.controller ~ '/head.html.twig' %}
{% endblock %}
#}

{% set familia = values.familia %}
{% set logo = familia.PathNameImagenN(1) %}

{% block content %}
<div class="portada">
    <div class="list_categorie_product">    
        <div class="list_product">
            <h1 class="category_title">
            {{familia.Familia}} ({{macro.idioma('hay')}} {{values.articulos.paginacion.totalItems}} {{macro.idioma('articulos')}})
            </h1>
            <div class="cat_desc"><p>{{familia.Observations}}</p></div>
        </div>

        {#
        <article id="infoPrincipal">
            <div id="imagenes" style="float:left;margin-right: 20px;">
                {% if logo %}
                    <img src="{{app.path}}/{{theme}}/{{logo}}" alt="{{familia.Titulo}}" title="{{familia.Titulo}}" />             
                {% endif %}
            </div>
            <div id="descripcion" style="float:left;width:300px;">
                {%autoescape false%}{{familia.Descripcion1}}{%endautoescape%}
            </div> 

            {% include '_global/listadoArticulos.html.twig' with {'articulos':values.destacados} %}            
        </article>
        #}

        {% include '_global/listadoArticulosPaginados.html.twig' with {'articulos':values.articulos.articulos,'paginacion':values.articulos.paginacion,'linkBy':familia.PrimaryKeyValue} %}      

    </div>
</div>
{% endblock %}
