<div class="grid_12">
    <div class="h-wrapper">
	    <h3>{{values.TEXTS.conocenos}}<span class="line"></span></h3>
    </div>
    <div class="featured-thumbnail image-frame left">
	    <div class="image-wrap">
		    <a class="image-wrapper" href="images/custom.png" data-rel="prettyPhoto[gallery]"><img src="images/custom.png" alt="" /><span class="zoom-icon magnify"></span></a>
	    </div>
    </div>
    <h4>{{values.TEXTS.estamosEnMaracena}}</h4>
    <p><i><strong>&ldquo;{{values.TEXTS.textoPresentacion}}&rdquo;</strong></i></p>
    <p>{{values.TEXTS.textoPresentacion2}}</p>
    <p>{{values.TEXTS.textoPresentacion3}}</p>
</div>