<form name="formRegistro" id="formRegistro" method="POST" enctype="multipart/form-data" action="">
    <div id="input_oculto">
        <input name="controller" value="ZonaPrivada" />
        <input name="action" id="action" value="Registro" />
        <input name="accion" id="accion" value="" />
        <input name="cliente[IDCliente]" value="{{values.cliente.IDCliente}}" />
    </div>
    
    <section class="width100x100">
        <article>
            <label>{{values.TEXTS.eMail}}</label>
            <input type="text" id="email" name="cliente[EMail]" value="{{values.cliente.EMail}}" class="celda celda90" {%if values.cliente.IDCliente%}readonly{%endif%}/>
        </article>

        <article>
            <label>{{values.TEXTS.contrasena}}</label>
            <input type="password" id="password" name="cliente[Password]" value="" class="celda celda50" />
        </article>

        <article class="cont50">
            <label>{{values.TEXTS.repetirContrasena}}</label>
            <input type="password" id="repitePassword" name="repitePassword" class="celda celda50" />
        </article>  
    </section>        
    <section class="width100x100 marginTop40">
        <h3 class="titularGrande">{{values.TEXTS.datosDeFacturacion}}</h3>
        <article class="cont90 marginRight30">
            <label>{{values.TEXTS.nombreYApellidos}}</label>
            <input type="text" name="cliente[RazonSocial]" value="{{values.cliente.RazonSocial}}" class="celda celda90" />
        </article>
        <article class="cont90 marginRight30">
            <label>{{values.TEXTS.dniCif}}</label>
            <input type="text" name="cliente[Cif]" value="{{values.cliente.Cif}}" class="celda celda90" />
        </article>

        <article class="cont50 marginRight30">
            <label>{{values.TEXTS.direccion}}</label>
            <input type="text" name="cliente[Direccion]" value="{{values.cliente.Direccion}}" class="celda celda50" />
        </article>

        <article class="cont5 marginRight30">
            <label>{{values.TEXTS.codigoPostal}}</label>
            <input type="text" name="cliente[CodigoPostal]" value="{{values.cliente.CodigoPostal}}" class="celda celda5" />
        </article> 

        <article class="cont5 marginRight30">
            <label>{{values.TEXTS.provincia}}</label>
            <select name="cliente[IDProvincia]" class="select celda celda30">
                {% for provincia in values.cliente.IDProvincia.fetchAll('Provincia') %}
                    <option value="{{provincia.Id}}" {%if values.cliente.IDProvincia.IDProvincia==provincia.Id%} SELECTED{%endif%}>{{provincia.Value}}</option>
                {% endfor %}
            </select>
        </article> 
        
        <article class="cont5 marginRight30">
            <label>{{values.TEXTS.telefono}}</label>
            <input type="text" name="cliente[Telefono]" value="{{values.cliente.Telefono}}" class="celda celda30" />
        </article>         
    </section>  

    {#
    <section class="width100x100">
        <article class="cont100">

        {% if values.logo %}
            <img src="{{app.path}}/{{values.logo}}"/>
        {% endif %}
            <label>{{values.TEXTS.logotipoEmpresa}}</label>
            <input type="file" name="logoEmpresa" class="celda celda100" />
        </article>             
    </section> 
    #}
    
    <div id="contenedorEnviar">
        <div class="checkbox">
            <input id="leidoPolitica" type="checkbox" {%if values.cliente.IDCliente%} checked{%endif%}/>
            <label class="textoCheckbox" for="checkbox2">{{values.LABELS.leidoPolitica}} <a href="{{app.path}}/politica-de-privacidad" rel="iframe-1000-360" class="pirobox" title="{{values.LABELS.politicaPrivacidad}}">{{values.LABELS.politicaPrivacidad}}.</a></label>                
        </div>
    </div>
        
    <article class="botonera marginTop20">
        {#<a href="javascript:history.back()" class="botonRojo left">{{values.LABELS.volverAtras}}</a>#}
        {% if values.cliente.IDCliente == ''%}
        <a href="javascript:;" id="botonCrearCuenta" data-type="submit" title="{{values.TEXTS.crearCuenta}}" class="botonNaranja right">{{values.TEXTS.crearCuenta}}</a>
        {% else %}
        <a href="javascript:;" id="botoGuardarCambios" data-type="submit" title="{{values.TEXTS.guardarCambios}}" class="botonNaranja right">{{values.TEXTS.guardarCambios}}</a>
        {% endif %}
    </article>
</form>

<div id="divDialogo" title="{{values.TEXTS.mensajes}}"></div>
