{# MIS DATOS #}
{% extends layout %}

{% block content %}
<section class="central">
    <h2 class="superTitular rojo">{{macro.idioma('miCuenta')}}</h2>
    {% include 'ZonaPrivada/mensajes.html.twig' %} {# ESTOS SON LOS MENSAJES DE RESPUESTA DEL FORMULARIO #}                                 
    <input name="solapaActiva" id="solapaActiva" value="{{ values.solapaActiva }}" type="text" />
    <div id="solapas"> 
        <ul>
            <li><a href="#misDatos">{{macro.idioma('misDatos')}}</a></li>
            <li><a href="#misDirecciones">{{macro.idioma('misDirecciones')}}</a></li>
            <li><a href="#pedidos">{{macro.idioma('pedidos')}}</a></li>
            {% if values.conBoletines %}
            <li><a href="#boletiones">{{macro.idioma('boletines')}}</a></li>
            {% endif %}
            <li><a href="#buzon">{{macro.idioma('buzon')}}</a></li>            
        </ul>
        <div id="misDatos" class="caracteristicas">
            {% include 'ZonaPrivada/formularioRegistro.html.twig' %} {# ESTE ES EL FORMULARIO DE REGISTRO DE USUARIO #} 
        </div>
        <div id="misDirecciones" class="detallesTecnicos">
            {% include values.templateDirecciones %} {# ESTE ES EL FORMULARIO DE DIRECCIONES DE ENTREGA #} 
        </div>
        <div id="pedidos" class="detallesTecnicos">
            {% include 'ZonaPrivada/misPedidos.html.twig' %}
        </div> 
        {% if values.conBoletines %}
        <div id="boletiones" class="detallesTecnicos">
            {% include 'ZonaPrivada/misBoletines.html.twig' %}
        </div>    
        {% endif %}
        <div id="buzon" class="detallesTecnicos">
            {% include 'ZonaPrivada/miBuzon.html.twig' %}
        </div>         
    </div>
 
</section>
{% endblock %}