{# LISTADO DE ARTICULOS SIN PAGINAR #}
{% for articulo in articulos %}
    <div class="row vert-offset-top-10">

        <div class="col-md-4">
            {% set imagen = (articulo.PathNameImagenN) ? articulo.PathNameImagenN(1) : "docs/imagen150x150.jpg" %}
            <a href="{{appPath}}{{articulo.UrlFriendly}}" title="{{articulo.Descripcion}}">
                <img src="{{app.path}}/{{theme}}/{{imagen}}" title="{{articulo.Descripcion}}" alt="{{articulo.Descripcion}}" />
            </a>
        </div>

        <div class="col-md-8">
            <h4><a href="{{appPath}}{{articulo.UrlFriendly}}" title="{{articulo.Descripcion}}">{{articulo.Descripcion}}</a></h4>
                {% if articulo.Resumen != articulo.Descripcion %}
                <div class="resumen">{{articulo.Resumen}}</div>
            {% endif %}
            {% set precioActual = articulo.PrecioWeb %}
            {% if articulo.PvpAnterior > 0 and articulo.PrecioAnterior != precioActual %}
                <div class="precios precioAnterior">{{macro.moneda(articulo.PvpAnterior)}}</div>                
            {% endif %}
            <div class="precioActual">{{macro.precio(articulo.cotizarWeb)}}</div>
            <article class="botonera">
                <a href="{{appPath}}{{articulo.UrlFriendly}}" title="{{macro.idioma('masInfo')}}" class="saberMas">{{macro.idioma('saberMas')}}
                    <span class="sprite"></span>
                </a>
            </article>
        </div>
    </div>
{% endfor %}
